<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Weather Predictor</title>
  </head>
  <body>
    <h1>Weather Predictor</h1>
    <p>Upload your image</p>
    <form action="/" method="POST" enctype="multipart/form-data">
      <label for="img">Select image:</label>
      <input type="file" id="img" name="img" accept="image/*" />
      <input type="submit" value="Predict" />
    </form>
    {% if pred %}
    <p>Prediction: {{ pred }} {{ percentage }}%</p> 
    {% endif %}
  </body>
</html>
